<h1>Welcome to BarterNow nCoV19</h1>

<div id="give">
    <fieldset>
    <legend>Give</legend>
        <div class='cards'>
            {{#each itemList}}
                <div class="card">
                    <img class="thumbnail" src={{{this.photo}}}>
                    {{this.displayName}}
                    <input type="hidden" name="give" value={{this.name}}>
                </div>
            {{/each}}
        </div>
    </fieldset>
</div>

<div id="need">
    <fieldset>
    <legend>Need</legend>
        <div class='cards'>
            {{#each itemList}}
                <div class="card">
                    <img class="thumbnail" src={{this.photo}}>
                    {{{this.displayName}}}
                    <input type="hidden" name="need" value={{this.name}}>
                </div>
            {{/each}}
        </div>
    </fieldset>
</div>

<h2>Enter what you need or what you have</h2>

<form>
    <label for="uname">User Name</label>
    <input type="text" id="uname" name="uname" required>
    <label for="zip">Zipcode</label>
    <input type="number" id="zip" name="zip" required>
    <label for="action">Action: </label>
    <select id="action" name="action">
        <option value="give">Give</option>
        <option value="barter">Barter</option>
        <option value="need">Need</option>
    </select>
    <input type="submit" onclick="submitForm(event)">
</form>


<br>
<br>
<br>
<h3>Results Table</h3>
<table style="width: 100%">
    <tr>
        <th>Give</th>
        <th>Receive</th>
        <th>Name</th>
        <th>Location</th>
        <th>Action</th>
    </tr>
    {{#each itemList}}
    <tr>
         {{#each giveList}}<td>{{{this.displayName}}}</td>{{/each}}
        {{#each receiveList}}<td>{{{this.displayName}}}</td>{{/each}}
        <td> {{{username}}}</td>
        <td> {{{location}}}</td>
        <td>{{{action}}}</td>
    </tr>
    {{/each}}
</table>
